*{list-style: none;margin: 0px;padding: 0px;text-decoration:none}
header{height: 50px;background-color:rgb(242,242,242);display: flex;width: 100%;position: fixed;}
header div{text-align: center;float: left;color: rgb(154,154,154);line-height: 50px;flex: 1;}
.nav_r{color: rgb(154,154,154);font-size: 18px;line-height: 50px;margin-left: 120px;}
.nav_l{color: rgb(154,154,154);font-size: 18px;line-height: 50px;margin-left: 10px;position: absolute;}
.nav_c{color: rgb(102,102,102);margin-left: 170px;}
.c_center{padding-top: 50px;}
.c_left{float: left;width: 20%;height:1650px;position: fixed;}
.c_left li{line-height: 50px;text-align: center;}
.c_left li a{color: black;}
.tu{width: 250px;height: 100px;text-align: center;}
.pictruce{padding: 15px 10px;width: 100px;}
.pictruce img{width: 45px;height: 45px;text-align: center;}
.pictruce p{color: rgb(117,117,117);margin-top: 17px;font-size: 10px;}
.one_one{display: flex;flex-wrap: wrap;text-align: center;}
.c_right{text-align: center;margin-left: 20%;}
.word{margin-top: 30px;}
.one{text-align: center;}
.word2{margin-top: 10px;}
.c_left li:nth-child(1){
    color: orange;
}